.trash
  color rgb(209, 91, 71)

.user-list li
  display: flex
  border: none
  border-bottom: 1px lightgray solid
  margin-bottom: 0
  &:last-child
    border-bottom: none

  .user-info
    flex-grow: 1
  .trash
    display: flex
    align-items: center
    text-decoration: none

.page.admin
  .contain
    margin: 0
    padding: 0
    background-color: $color-pastelblue
    height: 100vh
    width: 100vw
    .menu
      height: 100vh
      float: left
      width : 25vw
      background-color: $color-white
      border-right: 1px solid $color-pastelblue
    .right
      background-color: $color-pastelblue
      float: left
      height: 100vh
      width: 70vw
      padding-left: 30px
      p
        text-align: justify
      .lightblue
        color: $color-lightblue
        font-size: 30px
        padding-top: 2vh

      .pastelblue
        color: $color-pastelblue
        font-size: 18px
        padding-top: 5vh
        @media $md
          font-size: 18px

      .list-group-item
        font-size: 12px
