.page.admin
  .contain.ng-show
    .menu
      .head
        .logo
          img(src="../../assets/images/logo-dently.png")
      .content
        ul
          a(href="/guest")
            li Accueil Dashboard
          a(href="/who-are-we")
            li Qui sommes-nous ?
          a(href="/why-this-site")
            li Pourquoi ce site ?
          a(href="/dam-diagnostic")
            li  Diagnostic DAM
          a(href="/login")
            li.actual  Connexion
          a(href="/signup")
            li  Inscription
          a(href="/contact")
            li  Contact
    .right
        p.lightblue
          | Bienvenue dans la gestion des utilisateurs
        p.pastelblue
          | Voici la liste des utilisateurs :
        ul.list-group.lightblue
          li.list-group-item(ng-repeat='user in admin.users')
            strong {{user.name}}
            br
            span.text-muted {{user.email}}
            a.trash(ng-click='admin.delete(user)')
              span.glyphicon.glyphicon-trash.pull-right
