.page.admin
  .contain.ng-show
    .menu
      .head
        .logo
          img(src="../../assets/images/logo-dently.png")
      .content
        ul
          a(href="/admin")
            li.actual
                i.fa.fa-home
                | Accueil Dashboard
          a(href="/dam-diagnostic")
            li
                i.fa.fa-file-o
                | Diagnostic DAM
          a(href="/settings")
            li
                i.fa.fa-cog
                | Paramètres
          a(ui-sref="logout")
            li
                i.fa.fa-sign-out
                | Se Déconnecter
    .right
        p.white
          | Bienvenue dans la gestion des utilisateurs
        p
          | Vous êtes connecté en tant qu'Admin !
          br
          br
          | Cliquez sur #[span.glyphicon.glyphicon-trash] pour supprimer un user !
          br
          br
          | Liste des Admins :
        ul.list-group(ng-repeat='user in admin.users').lightblue-nospaced
            li.list-group-item(class="{{user.role == 'admin' ? 'only-admin' : 'only-user'}}")
              strong(class="{{user.role}}") {{user.name}}
              br
              span(class="{{user.role}}") {{user.role}}
              br
              span.text-muted {{user.email}}
              a.trash(ng-click='admin.delete(user)')
                span.glyphicon.glyphicon-trash.pull-right

        p.white
          | Liste des Utilisateurs :
        ul.list-groupp(ng-repeat='user in admin.users').lightblue-nospaced
            li.list-group-item(ng-class="user.role == 'user' ? 'only-user' : 'only-admin'")
              strong.user {{user.name}}
              br
              span.user {{user.role}}
              br
              span.text-muted {{user.email}}
              a.trash(ng-click='admin.delete(user)')
                span.glyphicon.glyphicon-trash.pull-right
