.page.admin
  .contain.ng-show
    .menu
      .head
        .logo
          img(src="../../assets/images/logo-dently.png")
      .content
        ul
          a(href="/admin")
            li.actual Accueil Dashboard
          a(href="/dam-diagnostic")
            li  Diagnostic DAM
    .right
        p.white
          | Bienvenue dans la gestion des utilisateurs
        p
          | Vous êtes connecté en tant qu'Admin !
          br
          br
          | Liste des utilisateurs :
        ul.list-group.lightblue
          li.list-group-item(ng-repeat='user in admin.users')
            span.role {{user.role}}
            br
            strong {{user.name}}
            br
            span.text-muted {{user.email}}
            a.trash(ng-click='admin.delete(user)')
              span.glyphicon.glyphicon-trash.pull-right
