.page.who-are-we

  .contain
    margin: 0
    padding: 0
    .menu
      width: 25vw
      height: 100vh
      float:left
      border-right: 1px solid $color-pastelblue

      .head
        .logo
          img
            width: 20vw
            height: 25vh
            padding: 20px
            margin: 0 auto
          text-align: center

      .content
        margin-top: 5vh

        ul
          text-align: center
          margin: 0

          li
            list-style: none
            height: 8vh
            line-height: 8vh
            margin-left: -5vw
            font-size: 20px
            &:hover
              background-color: $color-pastelblue
              a
                color: $color-white

          .actual
            background-color: $color-pastelblue
            color: $color-white
            a
              color: $color-white
    .right
      background-color: $color-pastelblue
      float:left
      width: 75vw
      .lightblue
        color: $color-white
        font-size: 35px
        padding-top: 2vh

      .blue
        color: $color-white
        font-size: 20px
        @media $md
          font-size: 18px

