.page.who-are-we

  .contain.ng-show
      .menu
      .right
        p.lightblue
          | Qui sommes nous?
        p.blue
          | Nous sommes des chirurgiens dentistes exerçant une activité omnipratique hospitalo-universitaire et libérale. Ce site est gratuit à but non lucratif.
          | Il a été réalisé par l’aide d’une bourse du Collège National d’Occlusodontologie en 2017.


