.page.who-are-we

  .contain
    margin: 0
    padding: 0
    .menu
      width: 25vw
    .right
      width: 75vw
      .lightblue
        color: $color-lightblue
        font-size: 35px
        padding-top: 2vh

      .blue
        color: $color-blue
        font-size: 20px
        @media $md
          font-size: 18px

