.page.who-are-we

  .contain.ng-show
      .menu
        .head
          .logo
            img(src="../../assets/images/logo-dently.png")
        .content
          ul
            a(href="/guest")
              li Accueil Dashboard
            a(href="/who-are-we")
              li.actual Qui sommes-nous ?
            a(href="/why-this-site")
              li Pourquoi ce site ?
            a(href="/dam-diagnostic")
              li  Diagnostic DAM
            a(href="/login")
              li  Connexion
            a(href="/signup")
              li  Inscription
            a(href="/contact")
              li  Contact
      .right
        p.lightblue
          | Qui sommes nous?
        p.blue
          | Nous sommes des chirurgiens dentistes exerçant une activité omnipratique hospitalo-universitaire et libérale. Ce site est gratuit à but non lucratif.
          | Il a été réalisé par l’aide d’une bourse du Collège National d’Occlusodontologie en 2017.


