.page.dam
  .contain.ng-show
      .content
          .right
              a(onclick="javascript:history.go(-1)")
                i.fa.fa-chevron-circle-left
                | Retour
              br
              br
              p.white
                | Diagnostic DAM
