.page.dam
  .contain.ng-show
      .content
          .right
            p.white
              | Diagnostic DAM


            a.bouton-accueil.btn.btn-default.btn-lg(href='/')
              i.fa.fa-home
              | Retour vers l'accueil
