.page.fiches-annexes
  text-align:justify
  .contain
    margin: 0
    padding: 0
    background-color: $color-pastelblue
    height: 100vh
    width: 100vw
    .menu
      height: 100vh
      float: left
      width : 25vw
      background-color: $color-white
      border-right: 1px solid $color-pastelblue

      .head
        .logo
          img
            width: 20vw
            height: 25vh
            padding: 20px
            margin: 0 auto
            height: auto
            max-width: 100%
          text-align: center

      .content
        margin-top: 5vh

        ul
          text-align: center
          margin: 0

          i
            position: absolute
            left: 3vw
            margin-top: 3vh
            @media $icon
                display: none
                
          li
            list-style: none
            height: 8vh
            line-height: 8vh
            margin-left: -5vw
            font-size: 20px
            &:hover
              background-color: $color-pastelblue
              a
                color: $color-white

          .actual
            background-color: $color-pastelblue
            color: $color-white
            a
              color: $color-white
    .right
      background-color: $color-pastelblue
      float: left
      height: 100vh
      width: 70vw
      padding-left: 30px
      p
        text-align: justify
        padding: 20px

      .lightblue
        color: $color-white
        font-size: 35px
        padding-top: 2vh
        text-align: center

      .blue
        color: $color-white
        font-size: 20px
        @media $md
          font-size: 18px
      .fa-chevron-circle-left
        color: $color-white
      a
        color: $color-white
        padding: 0px
        margin: 0px
        font-size: 25px
        &:hover
          text-decoration: none
          background-color : $color-pastelblue
          color: $color-black
