$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap-styl/bootstrap/index';


//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through gulp
/* inject:styl */
@import 'aa-ui/animations';
@import 'aa-ui/colors';
@import 'aa-ui/responsive';
@import 'account/login/login';
@import 'account/settings/settings';
@import 'account/signup/signup';
@import 'admin-fonction/admin-fonction';
@import 'admin/admin';
@import 'contact/contact';
@import 'editeur-cas-clinique/editeur-cas-clinique';
@import 'etudes/etudes';
@import 'fiche-clinique-complete/fiche-clinique-complete';
@import 'fiches-annexes/fiches-annexes';
@import 'guest/guest';
@import 'list-fiche/list-fiche';
@import 'main/main';
@import 'protocoles/protocoles';
@import 'statistiques/statistiques';
@import 'user/user';
@import 'who-are-we/who-are-we';
@import 'why-this-site/why-this-site';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
