.page.why-this-site

    .contain
        .menu
            .head
                .logo
                    img(src="../../assets/images/logo-dently.png")
            .content
                ul
                    a(href="/guest")
                        li
                            i.fa.fa-home
                            | Accueil Dashboard
                    a(href="/who-are-we")
                        li
                            i.fa.fa-hospital-o
                            | Qui sommes-nous ?
                    a(href="/why-this-site")
                        li.actual
                            i.fa.fa-question-circle-o
                            | Pourquoi ce site ?
                    a(href="/dam-diagnostic")
                        li
                            i.fa.fa-file-o
                            | Diagnostic DAM
                    a(href="/user")
                        li
                            i.fa.fa-user-md
                            | Fiches cliniques
                    a(href="/login")
                        li
                            i.fa.fa-sign-in
                            | Connexion
                    a(href="/signup")
                        li
                            i.fa.fa-user-plus
                            | Inscription
                    a(href="/contact")
                        li
                            i.fa.fa-envelope-o
                            | Contact

        .right
            p.lightblue
                | Pourquoi ce site ?

            p.blue
                | Nous sommes des chirurgiens dentistes exerçant une activité omnipratique hospitalo-universitaire et libérale. Ce site est gratuit à but non lucratif.
                | Ce site a été conçu pour tenter d’harmoniser les pratiques dans la prise en charge des patients atteints de Dysfonctionnements de l’Appareil Manducateur (DAM). Il doit permettre d’enseigner les tests de dépistage des DAM et leurs facteurs de risque, de prendre en charge des patients en pratique libérale ou hospitalo-universitaire, recueillir des données à visée statistiques et améliorer la communication entre les soignants.
                | Ces fiches cliniques s’appuient sur des critères diagnostiques reconnus internationalement, les Diagnostic Criteria/Temporo Mandibular Disorders (DC/TMD). Actuellement, ces critères n’ont pas de traduction française validée. Dans cette attente, nous proposons ici notre traduction.
                | Nous sommes conscients qu’une consultation sur les troubles fonctionnels oro-faciaux ne peut être standardisée. Chaque patient, chaque praticien est unique. Pour autant, si nous voulons pouvoir évaluer nos pratiques, nous devons avoir des critères communs. C’est dans ce but que notre fiche clinique est née. Elle doit permettre de dépister les DAM et leurs facteurs de risque. À ce sujet, la liste est non exhaustive et peut être soumise à des changements. Des études pourront être lancées pour év...(line truncated)...
                | Un comité scientifique, renouvelé tous les deux ans, sera en charge de la validation des protocoles d’étude et des aménagements apportés aux fiches cliniques.
