.page.questionnaire-isi
  .container.ng-show
    h1.first-title  Index de sévérité de l'insomnie (ISI)

    form
      fieldset.row
        legend.space Information patient
        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-user-circle
            input(type="text" placeholder="Nom").form-control

        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-user-circle-o
            input(type="text" placeholder="Prénom").form-control

        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-birthday-cake
            input(type="text" placeholder="Date de naissance").form-control

        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-calendar
            input(type="text" placeholder="Date de ce jour").form-control


    //Titre1
    form
      fieldset
        legend.space 1. Difficulté à s'endormir
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légère
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyenne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Elevée
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrême

    //Titre2
    form
      fieldset
        legend.space 2. Difficulté à rester endormi(e)
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légère
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyenne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Elevée
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrême

    //Titre3
    form
      fieldset
        legend.space 3. Problème de réveil trop tôt le matin :
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légère
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyenne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Elevée
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrême

    //Titre4
    form
      fieldset
        legend.space 4. A quel point êtes-vous SATISFAIT(E)/INSATISFAIT(E) de votre sommeil actuel ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Très satisfait(e)
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Satisfait(e)
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Neutre
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Insatisfait(e)
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Très insatisfait(e)

    //Titre5
    form
      fieldset
        legend.space 5. A quel point considérez-vous que vos difficultés de sommeil PERTURBENT votre fonctionnement quotidien (ex. : fatigue, concentration, mémoire, humeur) ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement

    //Titre6
    form
      fieldset
        legend.space 6. A quel point considérez-vous que vos difficultés de sommeil sont APPARENTES pour les autres en termes de détérioration de la qualité de vie ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement

    //Titre7
    form
      fieldset
        legend.space 7. A quel point êtes-vous INQUIET(ETE) / PREOCCUPE(E) à propos de vos difficultés de sommeil actuelles ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | 0
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          | 1
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | 2
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          | 3
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | 4

    //Titre8
    form
      fieldset
        legend.space 8. De manière générale, comment évaluez-vous la QUALITE de votre sommeil ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Excellente
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          | Bonne
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Acceptable
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          | Pauvre
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Médiocre

    //Titre9
    form
      fieldset
        legend.space 9. De manière générale, comment vous sentez-vous au lever le matin ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Très reposé
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          | Reposé
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyen
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          | Très fatigué
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Exténué

    //Titre10
    form
      fieldset
        legend.space 10.Dans quelle mesure vos difficultés de sommeil diminuent t-elles votre QUALITE DE VIE ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement
    //Titre11
    form
      fieldset
        legend.space 11. A quel point considérez-vous que vos difficultés de sommeil causent de la FATIGUE le jour ?
      label.radio-inline
        input(type='radio', name='inlineRadioOptions', value='option1')
        | Aucunnement
      label.radio-inline
        input(type='radio', name='inlineRadioOptions', value='option2')
        |  Légèrement
      label.radio-inline
        input(type='radio', name='inlineRadioOptions', value='option1')
        | Moyennement
      label.radio-inline
        input(type='radio', name='inlineRadioOptions', value='option2')
        |  Très
      label.radio-inline
        input(type='radio', name='inlineRadioOptions', value='option1')
        | Extrêmement


    //Titre12
    form
      fieldset
        legend.space 12. A quel point considérez-vous que vos difficultés de sommeil affectent vos capacités mentales comme votre CONCENTRATION ou votre MEMOIRE ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement


    //Titre13
    form
      fieldset
        legend.space 13. A quel point considérez-vous que vos difficultés de sommeil affectent vos RELATIONS interpersonnelles (famille, collègues, amis) ?
        llabel.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement

    //Titre14
    form
      fieldset
        legend.space 14. A quel point considérez-vous que vos difficultés de sommeil affectent votre HUMEUR le jour (tension, irritabilité, anxiété, dépression) ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement

    //Titre15
    form
      fieldset
        legend.space 15. A quel point considérez-vous que vos difficultés de sommeil affectent vos ACTIVITES SOCIALES ou de LOISIRS ?
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Aucunnement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Légèrement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Moyennement
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option2')
          |  Très
        label.radio-inline
          input(type='radio', name='inlineRadioOptions', value='option1')
          | Extrêmement

    //Titre16
    form
      fieldset
        legend.space 16. Combien de nuits par semaine (moyenne du dernier mois) avez-vous eu des difficultés de sommeil ?
        label.radio-inline
          input(type='text', name='inlineRadioOptions')
          | &nbsp; &nbsp; nuit(s) par semaine

          br
          br
