.page.questionnaire-eads21

  .container.ng-show

    h1.first-title  Questionnaire EDAS 21
      form
        fieldset.row
          legend Information patient
          div.col-md-6.form-group
            .input-group
              span.input-group-addon
                i.fa.fa-user-circle
              input(type="text" placeholder="Nom").form-control

          div.col-md-6.form-group
            .input-group
              span.input-group-addon
                i.fa.fa-user-circle-o
              input(type="text" placeholder="Prénom").form-control

          div.col-md-6.form-group
            .input-group
              span.input-group-addon
                i.fa.fa-birthday-cake
              input(type="text" placeholder="Date de naissance").form-control

          div.col-md-6.form-group
            .input-group
              span.input-group-addon
                i.fa.fa-calendar
              input(type="text" placeholder="Date de ce jour").form-control

      font(size="2px") Veuillez lire chaque énoncé et indiquer lequel correspond le mieux à votre expérience au cours de la dernière semaine.
      font(size="2px") Indiquez votre choix en encerclant le chiffre qui y correspond (soit 0,1, 2 ou 3). Il n’y a pas de bonne ou de mauvaise réponse.
      font(size="2px") Ne vous attardez pas trop longuement sur les énoncés. L’échelle de notation est la suivante :
      br
      font(size="2px") 0 ne s’applique pas du tout à moi
      br
      font(size="2px") 1 s’applique un peu à moi, ou une partie du temps
      br
      font(size="2px") 2 s’applique beaucoup à moi, ou une bonne partie du temps
      br
      font(size="2px") 3 s’applique entièrement à moi, ou la grande majorité du temps

    table.table
      thead
        tr
          th
          th
            | 1
          th
            | 2
          th
            | 3
          th
            | 4
      tbody
        tr
          td
            | 1. J'ai trouvé difficile de décompresser
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 2. J'ai été conscient(e) d'avoir la bouche sèche
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 3. J'ai eu l'impression de ne pas pouvoir ressentir d'émotion positive.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 4. J'ai eu de la difficulté à respirer (par exemple, respirations excessivement rapides, essoufflement sans effort physique).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 5. J'ai eu de la difficulté à initier de nouvelles activités.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 6. J'ai eu tendance à réagir de façon exagérée.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 7. J'ai eu des tremblements (par exemple, des mains).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 8. J'ai eu l'impression de dépenser beaucoup d'énergie nerveuse.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 9. Je me suis inquiété(e) en pensant à des situations où je pourrais paniquer et faire de moi un(e) idiot(e).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 10. J'ai eu le sentiment de ne rien envisager avec plaisir.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 11. Je me suis aperçu(e) que je devenais agité(e).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 12. J'ai eu de la difficulté à me détendre.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 13. Je me suis senti(e) triste et déprimé(e).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 14. Je me suis aperçu(e) que je devenais impatient(e) lorsque j'étais retardé(e) de quelque façon que ce soit (par exemple dans les ascenseurs, aux feux de circulation, lorsque je devais attendre).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 15. J'ai eu le sentiment d'être presque pris(e) de panique.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 16. J'ai été incapable de me sentir enthousiaste au sujet de quoi que ce soit.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 17. J'ai eu le sentiment de ne pas valoir grand chose comme personne.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 18. Je me suis aperçu(e) que j’étais très irritable.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 19. J’ai été conscient(e) des palpitations de mon coeur en l’absence d’effort physique (sensation d’augmentation de mon rythme cardiaque ou l’impression que mon cœur venait de sauter).
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 20. J’ai eu peur sans bonne raison.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
        tr
          td
            | 21. J’ai eu l’impression que la vie n’avait pas de sens.
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
          td
            input(type="radio")
