.page.contact
  .contain.ng-show
    .menu
      .head
        .logo
          img(src="../../assets/images/logo-dently.png")
      .content
        ul
          a(href="/guest")
            li Accueil Dashboard
          a(href="/who-are-we")
            li Qui sommes-nous ?
          a(href="/why-this-site")
            li Pourquoi ce site ?
          a(href="/dam-diagnostic")
            li  Diagnostic DAM
          a(href="/login")
            li  Connexion
          a(href="/signup")
            li  Inscription
          a(href="/contact")
            li.actual  Contact
    .right
      p.lightblue

      script.
        console.log("I am running on the client")

