.page.home

    .contain.ng-show

        .left
            .logo
                img(src="../assets/images/logo-dently.png")
            h1 Bienvenue sur Dently
            p.lightblue Web Application destinée à la gestion
            p.lightblue.next à l'organisation et l'accès aux données médicales

            p.pastelblue Développée en 2017 - Bordeaux
            p.pastelblue Nicolas Auger - Axel Masset - Pierre Leroy - Oscar Grainger


        .right
            p.blue.first-right Vous avez déjà un compte ? Authentifiez-vous !
            a(href="/login").button
                i.fa.fa-lock
                i.fa.fa-stethoscope
                span Admin
            a(href="/login").button
                i.fa.fa-user-md
                span Médecin
            .clear

            p.pastelblue Vous n'êtes pas inscrit ?
            a(href="/signup").button2
                i.fa.fa-user-plus
                span S'inscrire
            a(href="/guest").button2
                i.fa.fa-user-o
                span Visiteur
            .clear
