.page.questionnaire-dn4#paddingForDN4

  .container.ng-show

    h1.first-title  Questionnaire DN4
    br
    form
      fieldset.row
        legend Information patient
        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-user-circle
            input(type="text" placeholder="Nom").form-control

        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-user-circle-o
            input(type="text" placeholder="Prénom").form-control

        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-birthday-cake
            input(type="text" placeholder="Date de naissance").form-control

        div.col-md-6.form-group
          .input-group
            span.input-group-addon
              i.fa.fa-calendar
            input(type="text" placeholder="Date de ce jour").form-control

  // Question 1
  .row
    form
      fieldset
        legend QUESTION 1 : la douleur présente-t-elle une ou plusieurs des caractéristiques suivantes ?

    table.table.table-responsive.table-condensed
      tbody
        tr
          td Brûlure
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
        tr
          td Sensation de froid douloureux
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
        tr
          td Décharges électriques
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non

  // Question 2
  .row
    form
      fieldset
        legend QUESTION 2 : la douleur est-elle associée dans la même région à un ou plusieurs des symptômes suivants ?

    table.table
      tbody
        tr
          td
            | Fourmillements
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
        tr
          td
            | Picotements
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
        tr
          td
            | Engourdissements
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
        tr
          td
            | Démangeaisons
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non

  // Question 3
  .row
    form
      fieldset
        legend QUESTION 3 : la douleur est-elle localisée dans un territoire où l'examen met en évidence :

    table.table
      tbody
        tr
          td
            | Hypoesthésie au tact
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
        tr
          td
            | Hypoesthésie à la piqûre
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non

  // Question 4
  .row
    form
      fieldset
        legend QUESTION 4 : la douleur est-elle provoquée ou augmentée par :

    table.table
      tbody
        tr
          td
            | Le frottement
          td
            label
              input(type='radio')
              |     Oui
          td
            label
              input(type='radio')
              |     Non
