.page.admin-fonction
  .contain.ng-show
    .menu
      .head
        .logo
          img(src="../../assets/images/logo-dently.png")
      .content
        ul
          a(href="/admin")
            li
                i.fa.fa-home
                | Accueil Dashboard
          a(href="/admin-fonction")
            li.actual
                i.fa.fa-stethoscope
                | Activités
          a(href="/fiches")
            li
                i.fa.fa-file-o
                | Fiches complètes
          a(href="/settings")
            li
                i.fa.fa-cog
                | Paramètres
          a(ui-sref="logout")
            li
                i.fa.fa-sign-out
                | Se Déconnecter
    .right
        .text-content

            h1.bigwhite Bienvenue ! Vous êtes connecté en tant qu'admin !
            h2.white Que souhaitez-vous faire ?
            a(href="/depistage-systematique")
                p #[i.fa.fa-long-arrow-right] Fiche clinique dépistage systématique (données non enregistrées)
            a(href="/fiche-clinique-complete")
                p #[i.fa.fa-long-arrow-right] Fiche clinique complète (données enregistrées pour les praticiens inscrits)
            a(href="/etudes")
                p #[i.fa.fa-long-arrow-right] Voir les études en cours
            a(href="/protocoles")
                p #[i.fa.fa-long-arrow-right] Proposition de protocole d’étude
            a(href="/fiches-annexes")
                p #[i.fa.fa-long-arrow-right] Accès aux fiches annexes de la fiche clinique
            a(href="/suivi-patients")
                p #[i.fa.fa-long-arrow-right] Fiche de suivi des patients (pour les praticiens enregistrés et leur patients déjà enregistrés)
            a(href="/statistiques")
                p #[i.fa.fa-long-arrow-right] Statistiques
            a(href="/editeur-cas-clinique")
                p #[i.fa.fa-long-arrow-right] Éditeur de cas cliniques
