.page.statistiques

  .contain.ng-show
    .menu
      .head
        .logo
          img(src="../../assets/images/logo-dently.png")
      .content
        ul
          a(href="/guest")
            li.actual Accueil Dashboard
          a(href="/who-are-we")
            li Qui sommes-nous ?
          a(href="/why-this-site")
            li Pourquoi ce site ?
          a(href="/dam-diagnostic")
            li  Diagnostic DAM
          a(href="/login")
            li Connexion
          a(href="/signup")
            li  Inscription
          a(href="/contact")
            li  Contact
    .right
      a(href="/guest")
        i.fa.fa-chevron-circle-left
        | Retour
      p.lightblue

      p.blue
